// Specific CSS for your home-page
body, html {
  height: 100%;
  color: black;
}

.banner-home {
  /* The image used */
  background-image: image-url('nasa.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-home h1 {
  margin: 0;
  color: #eeeeee;
  font-size: 56px;
  font-weight: 200;
  letter-spacing: 4px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
  font-family: 'Josefin Slab', serif;
}

.banner-home p {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 4px;
  text-shadow: 5px 5px 3px black;
  font-family: 'Josefin Slab', serif;
}

#home-logo {
  width: 160px;
}