<div class="banner-home d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center">
    <h1 class="pb-5">GERGO'S GEOCODING APP!</h1>
    <p class="py-5">MAKE FLATS, STORE AND CHECK THEM ON THE MAP!</p>
    <%= link_to 'Geocode!', flats_path(@flat), class: "btn btn-outline-light rounded-pill" %>
  </div>
</div>
