// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #75cff0;
  background-image: linear-gradient(0deg, #75cff0 40%, #6df773 100%);
  background-repeat: no-repeat;
}

a {
  color: black;
}

h3 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
}

hr.separator {
  border-top: 1px solid white;
  margin-top: 70px;
  margin-bottom: 0;
  padding: 0;
}

.link-nodeco {
  color: black;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
